body{
  margin: 0;
  padding:0 ;
  background-color: rgb(207, 173, 153);
  color:aliceblue
}

*{
  box-sizing: border-box;
}

main{
  max-width: 300px;
  margin: 20px auto;
}

form {
  border: 3px solid #e6d1d0;
  border-radius: 10px;
  padding-left: 5px;
  display: flex;
  height: 40px;
}

form input[type="text"]{
  background-color: inherit;
  border: 0;
  padding: 0 8px;
  display: block;
  width: 100%;
  outline: none;
}

form button{
  background-color: rgb(241, 241, 241);
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
  
}

div.todo{
  background-color: rgb(231, 206, 210);
  border-radius: 10px;
  border: 1px solid rgb(250, 207, 207);
  padding: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
}


.remove-btn{
  background-color: inherit;
  display: flex;
  margin-left: auto;
  border: none;
}